#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
export DH_COMPAT=3

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	patch -p1 < debian/@patch.lv.20050502_~+num-pat-option
	patch -p1 < debian/@patch.lv.20050506_%src%file.c_~enable-fastio-use-fread.2
	patch -p0 < debian/patch.lv.misc
	patch -p1 < debian/@patch.lv.20051030_%src%_~use_off_t
	src/configure --prefix=/usr --libdir=/usr/share --enable-fastio

	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir

	# Add here commands to compile the package.
	$(MAKE)
	#/usr/bin/docbook-to-man debian/lv.sgml > lv.1

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	-$(MAKE) distclean
	-patch -p1 -F 0 -f --no-backup-if-mismatch -R < debian/@patch.lv.20051030_%src%_~use_off_t
	-patch -p0 -F 0 -f --no-backup-if-mismatch -R < debian/patch.lv.misc
	-patch -p1 -F 0 -f --no-backup-if-mismatch -R < debian/@patch.lv.20050506_%src%file.c_~enable-fastio-use-fread.2
	-patch -p1 -F 0 -f --no-backup-if-mismatch -R < debian/@patch.lv.20050502_~+num-pat-option

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/lv.
	# $(MAKE) install DESTDIR=$(CURDIR)/debian/lv
	install -d -m 755 `pwd`/debian/lv/usr/bin \
			  `pwd`/debian/lv/usr/share/lv \
			  `pwd`/debian/lv/usr/share/man/man1 \
			  `pwd`/debian/lv/usr/share/doc \
			  `pwd`/debian/lv/usr/lib
	install -m 755 lv `pwd`/debian/lv/usr/bin/lv
	install -m 644 lv.hlp `pwd`/debian/lv/usr/share/lv/lv.hlp
	install -m 644 lv.1 `pwd`/debian/lv/usr/share/man/man1
	ln -sf lv debian/lv/usr/bin/lgrep
	ln -sf lv.1 debian/lv/usr/share/man/man1/lgrep.1

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
#	dh_installdebconf	
	dh_installdocs
	dh_installexamples
	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
	dh_installcron
	dh_installman
	dh_installinfo
#	dh_undocumented
	dh_installchangelogs 
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
