#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

CFLAGS += $(CPPFLAGS)

%:
	dh $@ --with autoreconf

override_dh_auto_configure:
	src/configure \
		--prefix=/usr --libdir=/usr/share --enable-fastio

override_dh_auto_install:
	install -d -m 755 $(CURDIR)/debian/lv/usr/bin \
			  $(CURDIR)/debian/lv/usr/share/lv \
			  $(CURDIR)/debian/lv/usr/share/man/man1 \
			  $(CURDIR)/debian/lv/usr/share/doc
	install -m 755 lv $(CURDIR)/debian/lv/usr/bin/lv
	install -m 644 lv.hlp $(CURDIR)/debian/lv/usr/share/lv/lv.hlp
	install -m 644 lv.1 $(CURDIR)/debian/lv/usr/share/man/man1
	ln -sf lv debian/lv/usr/bin/lgrep
	ln -sf lv.1 debian/lv/usr/share/man/man1/lgrep.1
